footer {
    background-color: $black;
    color:$offWhite;
    h3{
        font-weight: 500;
        opacity: .9;
        margin: 0;
        margin-top: 30px;
    }

    p, 
    a {
        opacity: .9;
        font-size: 0.8rem;
    }

    a{
        text-decoration: none;
        color:$offWhite;
    }
}

.recentPosts li:before{ 
    content:"• "; font-size:10pt; 
}

.footerContact {
    h3 {
        margin-top: 0;
        margin-bottom: 20px;
        padding-top: 30px;
}
    p{
        margin-bottom: 3px;
    }
    .socialLinks{
        display: flex;
        ul {
            li {
                display: inline-block;
                list-style: none;
                margin: 15px 15px 0 0;
            }
        }
    }
}

.recentPosts {
    h3{
        margin-bottom: 20px;
    }
    li{
        margin-bottom: 3px;
    }
}

.twitterWidget{
    h3 {
        margin-bottom: -5px;

    }
    p {
        margin-bottom: 15px;
        border: none;
}
    form {
        display: flex;
        flex-direction: row;
    }
    input {
        padding: 12px;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-family: $bodyFont;
            font-size: .8rem;
            opacity: .5;
            font-weight: 400;
        }
          &::-moz-placeholder { /* Firefox 19+ */
            font-family: $bodyFont;
            font-size: .8rem;
            opacity: .5;
            font-weight: 400;
        }
          &:-ms-input-placeholder { /* IE 10+ */
            font-family: $bodyFont;
            font-size: .8rem;
            opacity: .5;
            font-weight: 400;
        }
          &:-moz-placeholder { /* Firefox 18- */
            font-family: $bodyFont;
            font-size: .8rem;
            opacity: .5;
            font-weight: 400;
        }
    }
    button {
        background-color: $primary;
        padding: 12px;
        font-size: 15px;
    }
}

.footerLogo{
    background-color: $black;
    margin-top: 25px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba($offWhite, 0.2);
    
    h3{
        color: $white;
        margin: 0 auto;
    }
}
