@media(min-width: 750px){
    .productDetails{
        background-position: 65% 5%;
    }

    .teamGalleryImgContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1000px;
        margin: 0 auto;
    }

    footer .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


@media(min-width:1200px) {
    .burgerMenu{
        display: none;
    } 
    .leftNav,
    .rightNav
    {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 20px 0 20px;
        li {
            margin: 10px 5px 0px 10px;
        }
    }
    .logoContainer{
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }

    .leftNav {
        order: -1;
        li{
            list-style: none;
        }
    }

    .rightNav{
        li{
            display: inline-block;
        }
    }

    
    .brandingImg .circleText img{
            position: absolute;
            top: -20px;
            left: -75px;
            width: 200px;
            height: auto;
            z-index: 10;
    }

    .brandingTextContainer{
        flex-direction: row;
        max-width: 800px;
        margin: 0 auto;
    }


    .productDetails {
        height: 75vh;
        display: flex;
        align-items: center;
        max-width: 1600px;
        margin: 0 auto;
        .productDetailsContainer{
            padding: 0;
        }
    }
    .productDetails .wrapper {
        margin-right: 0;
        display: flex;
        justify-content: flex-end;
    }

    .productDetailsContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 900px;
        margin-top: auto;
        padding: -25px;
        h2{
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 1.8px;
            margin: 0;
        }
        p {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: .3px;
        }
        .indProductContainer {
            display: flex;
            flex-direction: row;
            .iconContainer{
                align-self: flex-start;
                margin-right: 15px;
                margin-top: 5px;
            }
        }
        .productTextContainer{
            max-width: 300px;
        }
    }

}