.skip-link{
    position: absolute;
    left: -2000px;
    top: 0px;
    background-color: white;
    color: black;
    z-index: 10;            
    overflow: none;
    &:focus{
        left: 0;
    }                                       
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .logoContainer{
        order: -1;
        padding: 5px;
        
    }
    li a {
        color: black;
        font-weight: 500;
        &:hover {
            text-decoration: line-through;
        }
    }
}

.leftNav,
.rightNav {
    display: none;
}

.burgerMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px
}

.burgerMenu div{
    width: 50px; 
    height: 6px;
    background-color: black;
    margin: 3px;
}