//start of branding section 

.branding{
    background-color: $primary;
    height: 100vh
}

.brandingImg{
    position:relative;
    .brandingMainImg{
        width: 100vw;
        height: auto;
        max-width: 500px;
    }
    .circleText{
        position:absolute;
        top:-15%;
        left: 45px;
        img {
            width: 120px;
            height: auto;
        }
    }
}

.brandingImgContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 0 50px 0;
}

.brandingTextContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    h2{
        font-family: $headingFont;
    }
    p {
        font-family: $bodyFont;
    }
}