//start of branding section 

.branding{
    background-color: $primary;
    padding-bottom: 50px;
}

.brandingImg{
    position:relative;
    .brandingMainImg{
        width: 100vw;
        height: auto;
        max-width: 500px;
    }
    .circleText{
        position:absolute;
        top:-15%;
        left: 0px;
        img {
            width: 120px;
            height: auto;
        }
    }
}

.brandingImgContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 0 50px 0;
}

.brandingTextContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    h2{
        font-family: $headingFont;
    }
    p {
        font-family: $bodyFont;
    }
}

//end of branding section

//start of circle gallery
.circleGallery{
    height: 75vh;
    font-family: $bodyFont;
    margin-top: 75px;
    margin-left: 0;
    .circleGalleryContainer{
        display: flex;
        width: 90vw;
        justify-content: space-around;
        button{
            font-size: 2rem;
        }
        img {
            border-radius: 50%;
            width: 200px;
        }
    }
    p {
        font-family: $bodyFont;
        line-height: 24px;
        text-align: center;
        opacity: .5;
        margin-top: 25px;
    }
}

//end of circle gallery

//start of product details section

.productDetails{
    background-image: url(/assets/home-4.jpeg);
    background-position: 55% 5%;
    background-repeat: no-repeat;
    background-size: cover;
    .productDetailsContainer{
        padding: 25px 0 25px 0;
    }
    .indProductContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25px;

        h2 {
            font-family: $headingFont;
            font-weight: 600;
            font-size: 1.4rem;
            text-align: center;
        }
        p {
            font-family: $bodyFont;
            font-weight: 500;
            opacity: .5;
            text-align: center;

        }
        .iconContainer {
            border: 2px solid black;
            border-radius: 50%;
            padding: 10px;
            height: 45px;
            width: 45px;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

//end of product details section

//start of 

