//START OF HOME PAGE
//start of branding section

.branding {
    background-color: $primary;
    padding-bottom: 50px;
}

.brandingImg {
    position: relative;
    .brandingMainImg {
        width: 100vw;
        height: auto;
        max-width: 500px;
    }
    .circleText {
        position: absolute;
        top: -15%;
        left: 0px;
        img {
            width: 120px;
            height: auto;
        }
    }
}

.brandingImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 0 50px 0;
}

.brandingTextContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

//end of branding section

//start of circle gallery
.circleGallery {
    margin: 75px 0 50px 0;
    .circleGalleryContainer {
        display: flex;
        width: 90vw;
        justify-content: space-around;
        max-width: 1250px;
        img {
            border-radius: 50%;
            width: 200px;
        }
    }
    p {
        text-align: center;
        opacity: 0.6;
        margin-top: 25px;
    }
    .textContainer {
        max-width: 800px;
        margin: 0 auto;
    }
}
//end of circle gallery

//start of product details section
.productDetails {
    background-image: url(/assets/home-4.jpeg);
    background-position: 55% 5%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::after {
        content: "";
        width: 4px;
        height: 60px;
        position: absolute;
        border-left: 1px solid black;
        left: 50%;
        top: 100%;
        opacity: 0.3;
    }
    .productDetailsContainer {
        padding: 25px 0 25px 0;
    }
    .indProductContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25px;

        h2 {
            text-align: center;
        }
        p {
            opacity: 0.5;
            text-align: center;
        }
        .iconContainer {
            border: 2px solid black;
            border-radius: 50%;
            padding: 10px;
            margin-bottom: 10px;
            height: 45px;
            width: 45px;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
//end of product details section

//start of team gallery
.teamIntro {
    padding-top: 70px;
}

.teamIntro h2 {
    font-weight: lighter;
    text-align: center;
    margin: 50px;
}

.teamGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamGalleryTextContainer {
    background-color: $offWhite;
    text-align: center;
    padding: 35px 50px 5px 50px;
    h3 {
        opacity: 0.6;
        margin-bottom: 25px;
        font-weight: 500;
    }
    p {
        margin-bottom: 50px;
    }
}

.teamGallery {
    img,
    a {
        margin: 15px;
    }
    a {
        height: 270px;
        width: 270px;
        align-self: center;
        font-family: $headingFont;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
//end of team gallery

//start of contact us section

.contactUs {
    background-image: url(/assets/home-10.jpeg);
    background-position: bottom;
    padding: 100px 15px 75px 15px;
    img {
        display: none;
    }
}

.contactUs .wrapper {
    background-color: $primary;
    text-align: center;
    padding: 25px 25px 75px 25px;
    width: 85%;
    h2 {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    p {
        margin-bottom: 50px;
    }
    .viewPortfolio {
        font-family: $headingFont;
        text-decoration: none;
        background-color: $offWhite;
        padding: 20px;
        color: $black;
        font-weight: 700;
    }
}
//end of contact us

//END MAIN PAGE

//START BLOG PAGE
//start main blog section
.blogHeader {
    background-position: 50% 35%;
    height: 400px;
}

.blogPost {
    padding-bottom: 50px;
    h2 {
        font-weight: 700;
        padding-top: 15px;
    }
    .breadcrumb {
        padding-top: 10px;
        padding-bottom: 25px;
        li {
            display: inline;
            opacity: 1.2;
        }
        li + li:before {
            padding: 4px;
            content: "/\00a0";
        }
        li a {
            text-decoration: none;
            &:hover {
                color: #01447e;
                text-decoration: underline;
            }
        }
        li:last-child {
            font-weight: 700;
            color: black;
        }
    }

    .authorDetails {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        align-items: flex-start;

        h4,
        p {
            margin: 0;
        }

        .authorDetailsLeft {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            img {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                margin-right: 25px;
            }
        }

        .authorDetailsRight {
            display: flex;
            flex-direction: row;
            gap: 25px;
        }
    }

    .boldText {
        font-weight: 700;
        font-size: 0.8rem;
    }

    .blogSocialLinks {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        p {
            margin: 0;
        }
        ul {
            display: flex;
            flex-direction: row;
            li {
                padding: 0 15px 3px 15px;
                i:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

//end blog section

//related posts section start

.relatedImgGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    .imgContainer {
        padding-bottom: 25px;
        width: 300px;
        img {
            width: 100%;
            height: auto;
        }
    }
    p {
        padding: 3px;
    }
}

//related posts end

//user comments start

.userComments {
    padding-bottom: 50px;
    h3 {
        font-size: 1.75rem;
    }
    img {
        padding-bottom: 30px;
    }
    p {
        font-size: 0.8rem;
    }
    a {
        font-style: italic;
        text-decoration: none;
    }
    .textContainer {
        position: relative;
        background-color: $offWhite;
        padding: 10px;
        margin-bottom: 25px;
        &::before {
            content: "";
            width: 0px;
            height: 0px;
            position: absolute;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid transparent;
            border-bottom: 20px solid $offWhite;
            left: 0px;
            top: -25px;

            //https://codingislove.com/css-speech-bubbles/
        }
    }
}

//user comments end

//comment form

.commentForm {
    h3 {
        font-size: 1.75rem;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 50px;

        input,
        textarea {
            border: none;
            font-family: $bodyFont;
            padding: 10px;
            border-bottom: 1px solid rgba(gray, 0.3);
            &:hover {
                border: none;
                border-bottom: 1px solid black;
                color: black;
            }
            &:focus {
                outline: none;
                border: none;
                border-bottom: 1px solid black;
                font-weight: bold;
            }
        }
    }

    button {
        padding: 10px;
        margin: 10px;
        width: 300px;
        align-self: center;
        font-family: $headingFont;
        font-size: 1.2rem;
        opacity: 0.7;
        line-height: 1;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
            text-underline-offset: 15px;
        }
    }
    //end comment form
    //END BLOG PAGE
}

//CONTACT PAGE START

.contactHeader {
    background-image: none;
    height: 100px;
}
.contactHeaderImg {
    height: 225px;
    background-image: url(/assets/contact-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: 10% 75%;
}

.contactPageWrapper {
    max-width: 1000px;
    position: relative;
    top: -55px;
    margin-bottom: 50px;
    h2 {
        font-size: 3rem;
        font-weight: 800;
        line-height: 3.5rem;

        &::before {
            content: "";
            width: 20px;
            position: absolute;
            border-top: 2px solid black;
            left: 2px;
            top: -30px;
        }
    }
}

.contactDetails {
    padding: 10px;
    &:first-child {
        text-align: center;
    }

    .textContainer {
        margin-bottom: 25px;
        h3 {
            text-align: center;
        }
    }
    i {
        margin: 10px 0 10px 0;
    }
    p {
        margin: 0;
        margin-bottom: 5px;
    }
}

.contactCommentForm {
    h3 {
        padding: 10px;
        text-align: center;
        font-size: 1rem;
    }
}

.contactPageImg {
    width: 100vw;
    img {
        width: 100%;
    }
}
