//font family

$headingFont: "Montserrat", sans-serif;
$bodyFont: "Open Sans", sans-serif;

//font sizes

$baseFontSize: 1rem;

//colors

$primary: #c3dab7;
$white: #ffffff;
$offWhite: #f6f6f6;
$black: #333333;
