//font family

$headingFont: "Montserrat", sans-serif;
$bodyFont: "Open Sans", sans-serif;

//font sizes

$baseFontSize: 1rem; 

//colors

$primary: #C3DAB7;
$white: #FFFFFF;
$offWhite: #F6F6F6;
$black: #333333


