@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

header {
  background-image: url(../assets/home-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  font-family: "Montserrat", sans-serif;
}
header h1 {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav .logoContainer {
  order: -1;
  padding: 5px;
}

.leftNav,
.rightNav {
  display: none;
}

.burgerMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px;
}

.burgerMenu div {
  width: 50px;
  height: 6px;
  background-color: black;
  margin: 3px;
}

.branding {
  background-color: #C3DAB7;
  padding-bottom: 50px;
}

.brandingImg {
  position: relative;
}
.brandingImg .brandingMainImg {
  width: 100vw;
  height: auto;
  max-width: 500px;
}
.brandingImg .circleText {
  position: absolute;
  top: -15%;
  left: 0px;
}
.brandingImg .circleText img {
  width: 120px;
  height: auto;
}

.brandingImgContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px 0 50px 0;
}

.brandingTextContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.brandingTextContainer h2 {
  font-family: "Montserrat", sans-serif;
}
.brandingTextContainer p {
  font-family: "Open Sans", sans-serif;
}

.circleGallery {
  height: 75vh;
  font-family: "Open Sans", sans-serif;
  margin-top: 75px;
  margin-left: 0;
}
.circleGallery .circleGalleryContainer {
  display: flex;
  width: 90vw;
  justify-content: space-around;
}
.circleGallery .circleGalleryContainer button {
  font-size: 2rem;
}
.circleGallery .circleGalleryContainer img {
  border-radius: 50%;
  width: 200px;
}
.circleGallery p {
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  text-align: center;
  opacity: 0.5;
  margin-top: 25px;
}

.productDetails {
  background-image: url(/assets/home-4.jpeg);
  background-position: 55% 5%;
  background-repeat: no-repeat;
  background-size: cover;
}
.productDetails .productDetailsContainer {
  padding: 25px 0 25px 0;
}
.productDetails .indProductContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}
.productDetails .indProductContainer h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
}
.productDetails .indProductContainer p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  opacity: 0.5;
  text-align: center;
}
.productDetails .indProductContainer .iconContainer {
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  height: 45px;
  width: 45px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamIntro h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  opacity: 0.8;
  text-align: center;
  margin: 50px;
}

.teamGalleryTextContainer {
  background-color: #F6F6F6;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 35px 15px 5px 15px;
}
.teamGalleryTextContainer h3 {
  opacity: 0.7;
  margin-bottom: 25px;
}
.teamGalleryTextContainer p {
  margin-bottom: 50px;
  opacity: 0.5;
}

.teamGalleryImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teamGalleryImgContainer img,
.teamGalleryImgContainer a {
  margin: 15px;
}
.teamGalleryImgContainer a {
  height: 270px;
  width: 270px;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUs {
  background-image: url(/assets/home-10.jpeg);
  background-position: bottom;
  padding: 100px 15px 75px 15px;
  align-items: center;
}

.contactUs .wrapper {
  background-color: #C3DAB7;
  text-align: center;
  padding: 25px 25px 75px 25px;
  width: 100%;
}
.contactUs .wrapper h2 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
  font-weight: 500;
}
.contactUs .wrapper p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
  font-size: 0.8rem;
  line-height: 1.2rem;
  opacity: 0.6;
}
.contactUs .wrapper .viewPortfolio {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background-color: #F6F6F6;
  padding: 15px 30px 15px 30px;
  color: #333333;
  font-weight: 700;
}

footer {
  background-color: #333333;
  color: #F6F6F6;
}
footer h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  opacity: 0.7;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 30px;
}
footer p,
footer a {
  font-family: "Open Sans", sans-serif;
  opacity: 0.7;
  font-size: 0.8rem;
}
footer a {
  text-decoration: none;
  color: #F6F6F6;
}
footer ul li:before {
  content: "• ";
  font-size: 10pt;
}

.footerContact h3 {
  margin-top: 0;
  padding-top: 30px;
}
.footerContact p {
  margin-bottom: 3px;
  padding: 0;
}

.recentPosts {
  margin-bottom: 2px;
}

.twitterWidget p {
  margin-bottom: 5px;
  border: none;
}
.twitterWidget form {
  display: flex;
  flex-direction: row;
}
.twitterWidget input {
  padding: 4px;
}
.twitterWidget button {
  background-color: #C3DAB7;
  padding: 5px;
}

.footerLogo {
  background-color: #333333;
  margin-top: 25px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(246, 246, 246, 0.2);
}
.footerLogo h3 {
  color: #FFFFFF;
  margin: 0 auto;
}/*# sourceMappingURL=styles.css.map */