@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.commentArea {
  resize: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.4rem;
  line-height: 24px;
  letter-spacing: 1.8px;
  margin: 0;
  font-weight: 500;
}

h3 {
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 1.8px;
}

h4 {
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4rem;
}

footer p {
  line-height: 1.2rem;
}

a {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-decoration: none;
}

.grayText {
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  opacity: 0.5;
}

button {
  font-size: 2rem;
}

.borderBottom {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding-bottom: 25px;
}

header {
  background-image: url(../assets/home-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 65vh;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
header i:hover {
  cursor: pointer;
}

.mainHeader::after {
  content: "";
  width: 4px;
  height: 100px;
  position: absolute;
  border-left: 1px solid black;
  left: 50%;
  top: 95%;
  opacity: 0.3;
}

.blogHeader {
  background-image: url(../assets/blog-1.jpeg);
  background-repeat: no-repeat;
  background-size: 150%;
  height: 500px;
}

footer {
  background-color: #333333;
  color: #f6f6f6;
}
footer h3 {
  font-weight: 500;
  opacity: 0.9;
  margin: 0;
  margin-top: 30px;
}
footer p,
footer a {
  opacity: 0.9;
  font-size: 0.8rem;
}
footer a {
  text-decoration: none;
  color: #f6f6f6;
}

.recentPosts li:before {
  content: "• ";
  font-size: 10pt;
}

.footerContact h3 {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 30px;
}
.footerContact p {
  margin-bottom: 3px;
}
.footerContact .socialLinks {
  display: flex;
}
.footerContact .socialLinks ul li {
  display: inline-block;
  list-style: none;
  margin: 15px 15px 0 0;
}

.recentPosts h3 {
  margin-bottom: 20px;
}
.recentPosts li {
  margin-bottom: 3px;
}

.twitterWidget h3 {
  margin-bottom: -5px;
}
.twitterWidget p {
  margin-bottom: 15px;
  border: none;
}
.twitterWidget form {
  display: flex;
  flex-direction: row;
}
.twitterWidget input {
  padding: 12px;
  border: none;
}
.twitterWidget input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: 400;
}
.twitterWidget input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: 400;
}
.twitterWidget input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: 400;
}
.twitterWidget input:-moz-placeholder {
  /* Firefox 18- */
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: 400;
}
.twitterWidget button {
  background-color: #c3dab7;
  padding: 12px;
  font-size: 15px;
}

.footerLogo {
  background-color: #333333;
  margin-top: 25px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(246, 246, 246, 0.2);
}
.footerLogo h3 {
  color: #ffffff;
  margin: 0 auto;
}

.skip-link {
  position: absolute;
  left: -2000px;
  top: 0px;
  background-color: white;
  color: black;
  z-index: 10;
  overflow: none;
}
.skip-link:focus {
  left: 0;
}

.mobile-hidden {
  display: none;
}

#logoContainer {
  position: absolute;
  top: 5px;
  left: 5px;
}

nav {
  position: relative;
}
nav .logoContainer {
  position: absolute;
  top: 0;
  padding: 5px;
}
nav .logoContainer a:hover {
  text-decoration: none;
}
nav li .mobile-hidden {
  display: none;
}
nav a {
  color: black;
  font-weight: 700;
}
nav a:hover {
  text-decoration: line-through;
}

.hamburger-menu .fa-bars {
  position: fixed;
  z-index: 50;
  right: 0;
  padding: 5px;
  font-size: 2rem;
}

.menuBox {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #f6f6f6;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 20;
}
.menuBox .fa-solid {
  width: 100%;
}

.menuItem {
  display: block;
  padding: 12px 15px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menuItem:hover {
  background-color: #c3dab7;
}

i {
  position: relative;
}
i p {
  font-size: 0.5rem;
  position: absolute;
  top: 18px;
  left: 23px;
  background-color: #c3dab7;
  border-radius: 50%;
  padding: 8px 6px;
  line-height: 0;
}

.branding {
  background-color: #c3dab7;
  padding-bottom: 50px;
}

.brandingImg {
  position: relative;
}
.brandingImg .brandingMainImg {
  width: 100vw;
  height: auto;
  max-width: 500px;
}
.brandingImg .circleText {
  position: absolute;
  top: -15%;
  left: 0px;
}
.brandingImg .circleText img {
  width: 120px;
  height: auto;
}

.brandingImgContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px 0 50px 0;
}

.brandingTextContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.circleGallery {
  margin: 75px 0 50px 0;
}
.circleGallery .circleGalleryContainer {
  display: flex;
  width: 90vw;
  justify-content: space-around;
  max-width: 1250px;
}
.circleGallery .circleGalleryContainer img {
  border-radius: 50%;
  width: 200px;
}
.circleGallery p {
  text-align: center;
  opacity: 0.6;
  margin-top: 25px;
}
.circleGallery .textContainer {
  max-width: 800px;
  margin: 0 auto;
}

.productDetails {
  background-image: url(/assets/home-4.jpeg);
  background-position: 55% 5%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.productDetails::after {
  content: "";
  width: 4px;
  height: 60px;
  position: absolute;
  border-left: 1px solid black;
  left: 50%;
  top: 100%;
  opacity: 0.3;
}
.productDetails .productDetailsContainer {
  padding: 25px 0 25px 0;
}
.productDetails .indProductContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}
.productDetails .indProductContainer h2 {
  text-align: center;
}
.productDetails .indProductContainer p {
  opacity: 0.5;
  text-align: center;
}
.productDetails .indProductContainer .iconContainer {
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 10px;
  height: 45px;
  width: 45px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamIntro {
  padding-top: 70px;
}

.teamIntro h2 {
  font-weight: lighter;
  text-align: center;
  margin: 50px;
}

.teamGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamGalleryTextContainer {
  background-color: #f6f6f6;
  text-align: center;
  padding: 35px 50px 5px 50px;
}
.teamGalleryTextContainer h3 {
  opacity: 0.6;
  margin-bottom: 25px;
  font-weight: 500;
}
.teamGalleryTextContainer p {
  margin-bottom: 50px;
}

.teamGallery img,
.teamGallery a {
  margin: 15px;
}
.teamGallery a {
  height: 270px;
  width: 270px;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUs {
  background-image: url(/assets/home-10.jpeg);
  background-position: bottom;
  padding: 100px 15px 75px 15px;
}
.contactUs img {
  display: none;
}

.contactUs .wrapper {
  background-color: #c3dab7;
  text-align: center;
  padding: 25px 25px 75px 25px;
  width: 85%;
}
.contactUs .wrapper h2 {
  margin-bottom: 30px;
  margin-top: 30px;
}
.contactUs .wrapper p {
  margin-bottom: 50px;
}
.contactUs .wrapper .viewPortfolio {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background-color: #f6f6f6;
  padding: 20px;
  color: #333333;
  font-weight: 700;
}

.blogHeader {
  background-position: 50% 60%;
  height: 325px;
  background-size: cover;
}

.blogPost {
  padding-bottom: 50px;
}
.blogPost h2 {
  font-weight: 700;
  padding-top: 15px;
}
.blogPost .breadcrumb {
  padding-top: 10px;
  padding-bottom: 25px;
}
.blogPost .breadcrumb li {
  display: inline;
  opacity: 1.2;
}
.blogPost .breadcrumb li + li:before {
  padding: 4px;
  content: "/ ";
}
.blogPost .breadcrumb li a {
  text-decoration: none;
}
.blogPost .breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.blogPost .breadcrumb li:last-child {
  font-weight: 700;
  color: black;
}
.blogPost .authorDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-start;
}
.blogPost .authorDetails h4,
.blogPost .authorDetails p {
  margin: 0;
}
.blogPost .authorDetails .authorDetailsLeft {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.blogPost .authorDetails .authorDetailsLeft img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 25px;
}
.blogPost .authorDetails .authorDetailsRight {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.blogPost .boldText {
  font-weight: 700;
  font-size: 0.8rem;
}
.blogPost .blogSocialLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.blogPost .blogSocialLinks p {
  margin: 0;
}
.blogPost .blogSocialLinks ul {
  display: flex;
  flex-direction: row;
}
.blogPost .blogSocialLinks ul li {
  padding: 0 15px 3px 15px;
}
.blogPost .blogSocialLinks ul li i:hover {
  cursor: pointer;
}

.relatedImgGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.relatedImgGallery .imgContainer {
  padding-bottom: 25px;
  width: 300px;
}
.relatedImgGallery .imgContainer img {
  width: 100%;
  height: auto;
}
.relatedImgGallery p {
  padding: 3px;
}

.userComments {
  padding-bottom: 50px;
}
.userComments h3 {
  font-size: 1.75rem;
}
.userComments img {
  padding-bottom: 30px;
}
.userComments p {
  font-size: 0.8rem;
}
.userComments a {
  font-style: italic;
  text-decoration: none;
}
.userComments .textContainer {
  position: relative;
  background-color: #f6f6f6;
  padding: 10px;
  margin-bottom: 25px;
}
.userComments .textContainer::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 20px solid #f6f6f6;
  left: 0px;
  top: -25px;
}

.commentForm h3 {
  font-size: 1.75rem;
}
.commentForm form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
}
.commentForm form input,
.commentForm form textarea {
  border: none;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.commentForm form input:hover,
.commentForm form textarea:hover {
  border: none;
  border-bottom: 1px solid black;
  color: black;
}
.commentForm form input:focus,
.commentForm form textarea:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  font-weight: bold;
}
.commentForm button {
  padding: 10px;
  margin: 10px;
  width: 300px;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  opacity: 0.7;
  line-height: 1;
  font-weight: bold;
}
.commentForm button:hover {
  text-decoration: underline;
  text-underline-offset: 15px;
}

.contactHeader {
  background-image: none;
  height: 100px;
}

.contactHeaderImg {
  height: 225px;
  background-image: url(/assets/contact-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 10% 75%;
}

.contactPageWrapper {
  max-width: 1000px;
  position: relative;
  top: -55px;
  margin-bottom: 50px;
}
.contactPageWrapper h2 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.5rem;
}
.contactPageWrapper h2::before {
  content: "";
  width: 20px;
  position: absolute;
  border-top: 2px solid black;
  left: 2px;
  top: -30px;
}

.contactDetails {
  padding: 10px;
}
.contactDetails:first-child {
  text-align: center;
}
.contactDetails .textContainer {
  margin-bottom: 25px;
}
.contactDetails .textContainer h3 {
  text-align: center;
}
.contactDetails i {
  margin: 10px 0 10px 0;
}
.contactDetails p {
  margin: 0;
  margin-bottom: 5px;
}
.contactDetails a {
  display: inherit;
}

.contactCommentForm h3 {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
}

.contactPageImg {
  width: 100vw;
}
.contactPageImg img {
  width: 100%;
}

@media (min-width: 750px) {
  .menuBox {
    width: 33%;
  }

  header {
    background-size: cover;
  }

  .brandingImg .circleText {
    left: -60px;
    top: -60px;
  }
  .brandingImg .circleText img {
    width: 175px;
    height: auto;
  }

  .productDetails {
    background-position: 65% 5%;
  }

  .teamGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
  }

  footer {
    padding-top: 75px;
  }
  footer .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    padding-bottom: 50px;
  }

  .blogHeader {
    background-size: cover;
    background-position: 50% 50%;
    height: 500px;
    max-height: 580px;
    max-width: 1200px;
  }

  .relatedImgGallery {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
  }

  .blogPost h2 {
    padding-top: 50px;
    font-size: 2rem;
  }

  .contactDetails .textContainer {
    width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  header {
    background-size: cover;
    height: 900px;
  }

  #logoContainer {
    position: static;
    text-align: center;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }

  .desktopNav {
    display: flex;
    justify-content: center;
  }

  #desktopNav {
    position: static;
    display: flex;
    padding: 0 20px;
    width: 100%;
    max-width: 1600px;
    box-shadow: none;
    background-color: transparent;
  }
  #desktopNav li:nth-child(1) {
    order: 4;
    margin: 0 auto;
  }
  #desktopNav li:nth-child(2) {
    order: 1;
  }
  #desktopNav li:nth-child(3) {
    order: 2;
  }
  #desktopNav li:nth-child(4) {
    order: 3;
  }
  #desktopNav li:nth-child(5) {
    order: 5;
  }
  #desktopNav li:nth-child(6) {
    order: 6;
  }
  #desktopNav li:nth-child(7) {
    order: 7;
  }
  #desktopNav li:nth-child(8) {
    order: 8;
  }
  #desktopNav li {
    margin: 0px 0.5% 0px 1%;
  }
  #desktopNav li .menuItem:hover {
    background-color: transparent;
  }

  nav {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 20px;
  }
  nav .desktop-hidden {
    display: none;
  }
  nav li .mobile-hidden {
    display: flex;
  }
  nav a::after,
nav a::before {
    content: "2";
    color: transparent;
  }
  nav a:hover {
    text-decoration: line-through;
  }
  nav a:hover::before, nav a:hover::after {
    text-decoration: line-through;
  }

  .burgerMenu {
    display: none;
  }

  .flexOrder {
    order: -1;
  }

  .logoContainer {
    margin: 0 auto;
  }
  .logoContainer h1 a {
    text-decoration: none;
  }

  .brandingImg .circleText img {
    position: absolute;
    top: -20px;
    left: -75px;
    width: 200px;
    height: auto;
    z-index: 10;
  }

  .brandingTextContainer {
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
  }

  .productDetails {
    height: 75vh;
    display: flex;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
  }
  .productDetails .productDetailsContainer {
    padding: 0;
  }

  .productDetails .wrapper {
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
  }

  .productDetailsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin-top: auto;
    padding: -25px;
  }
  .productDetailsContainer .indProductContainer {
    display: flex;
    flex-direction: row;
  }
  .productDetailsContainer .indProductContainer .iconContainer {
    align-self: flex-start;
    margin-right: 15px;
    margin-top: 5px;
  }
  .productDetailsContainer .productTextContainer {
    max-width: 275px;
  }
  .productDetailsContainer .productTextContainer .grayText {
    text-align: left;
  }
  .productDetailsContainer .productTextContainer h2 {
    text-align: left;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  .teamGallery {
    margin: 0 auto;
    width: 1600px;
    display: grid;
    grid-template: "a a a a" "b b b b";
    grid-gap: 15px;
    margin-bottom: 50px;
  }
  .teamGallery .teamGalleryTextContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 100px 0 15px 25px;
    text-align: left;
    width: 555px;
    height: 270px;
  }
  .teamGallery p {
    margin: 0;
  }
  .teamGallery img {
    margin: 0;
  }
  .teamGallery a {
    margin: 0;
    text-align: center;
    line-height: 1.3rem;
  }

  .contactUs {
    background-image: none;
    padding: 0;
  }
  .contactUs img {
    display: inline-block;
    width: auto;
    max-height: 600px;
  }
  .contactUs .contactTextContainer {
    width: 100vw;
  }
  .contactUs .contactTextContainer h2 {
    padding: 0;
  }
  .contactUs .contactTextContainer p {
    padding: 0 175px 0 175px;
  }
  .contactUs .contactImgContainer {
    display: flex;
    align-items: center;
    align-self: flex-end;
  }
  .contactUs .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: none;
    width: 100vw;
    max-width: 1440px;
    padding: 0;
    height: 600px;
  }

  .contactDetails .wrapper {
    max-width: 1000px;
  }
  .contactDetails .wrapper .textContainer {
    text-align: left;
    margin: 0;
    margin-bottom: 50px;
  }

  .recentPosts h3 {
    text-align: center;
  }
  .recentPosts li {
    padding: 3px;
  }

  .twitterWidget h3 {
    text-align: right;
    padding-bottom: 15px;
  }
  .twitterWidget p {
    padding-bottom: 10px;
  }
  .twitterWidget form {
    justify-content: right;
  }

  .footerLogo {
    font-size: 0.6rem;
    letter-spacing: 0.3rem;
  }

  .blogHeader {
    background-size: cover;
    height: 700px;
    max-height: 700px;
    margin-bottom: 100px;
    max-width: 1500px;
  }

  .blogPost h2 {
    font-size: 2.8rem;
    margin-bottom: 25px;
  }
  .blogPost .authorDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 50px;
  }
  .blogPost .authorDetails .textContainer {
    padding-top: 10px;
  }
  .blogPost .blogMain {
    padding-top: 50px;
  }
  .blogPost .blogSocialLinks {
    padding-top: 30px;
  }

  .relatedPosts h3 {
    font-size: 2rem;
  }
  .relatedPosts .relatedImgGallery {
    padding-top: 25px;
  }

  .userComments h3 {
    font-size: 2rem;
  }
  .userComments .indComments {
    display: flex;
    flex-direction: row;
  }
  .userComments .indComments img {
    width: 90px;
    height: 120px;
    margin-right: 50px;
  }
  .userComments .indComments .textContainer {
    width: 1000px;
    max-width: 1200px;
    padding: 5px 0 30px 20px;
  }
  .userComments .indComments .textContainer::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid #f6f6f6;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -38px;
    top: 5px;
  }

  .commentForm form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .commentForm form .commentArea {
    width: 100%;
  }
  .commentForm form .firstRow {
    width: 32.3333333333%;
  }
  .commentForm form button {
    margin: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0;
    padding-top: 30px;
  }

  .contactHeader .contactPageWrapper {
    max-width: 1600px;
  }
  .contactHeader .contactPageWrapper h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    top: 130px;
    left: 150px;
  }

  .blogMain {
    margin-top: -75px;
  }

  .contactDetails .textContainer {
    text-align: left;
    max-width: 500px;
    margin: 50px 0 50px 125px;
  }
  .contactDetails .textContainer h3 {
    text-align: left;
  }

  .iconContainers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1000px;
  }
  .iconContainers .indContainer {
    text-align: left;
  }
  .iconContainers .indContainer i {
    font-size: 2rem;
  }

  .contactCommentForm .wrapper {
    max-width: 1000px;
  }
  .contactCommentForm h3 {
    text-align: left;
    padding: 0;
    margin-top: 50px;
  }
  .contactCommentForm p {
    margin-bottom: 50px;
  }

  .contactPageImg {
    max-width: 1600px;
  }

  .footerLogo {
    padding: 100px;
  }
}/*# sourceMappingURL=styles.css.map */