@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
  line-height: 24px;
  letter-spacing: 1.8px;
  margin: 0;
  font-weight: 500;
}

p,
a {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
}

.grayText {
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  opacity: 0.5;
}

button {
  font-size: 2rem;
}

.borderBottom {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding-bottom: 25px;
}

header {
  background-image: url(../assets/home-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  max-width: 1600px;
  margin: 0 auto;
}
header h1 {
  margin: 0;
}

.blogHeader {
  background-image: url(../assets/blog-1.jpeg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 50% 65%;
  height: 500px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}
nav .logoContainer {
  order: -1;
  padding: 5px;
}

.leftNav,
.rightNav {
  display: none;
}

.burgerMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px;
}

.burgerMenu div {
  width: 50px;
  height: 6px;
  background-color: black;
  margin: 3px;
}

.branding {
  background-color: #C3DAB7;
  padding-bottom: 50px;
}

.brandingImg {
  position: relative;
}
.brandingImg .brandingMainImg {
  width: 100vw;
  height: auto;
  max-width: 500px;
}
.brandingImg .circleText {
  position: absolute;
  top: -15%;
  left: 0px;
}
.brandingImg .circleText img {
  width: 120px;
  height: auto;
}

.brandingImgContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px 0 50px 0;
}

.brandingTextContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.circleGallery {
  margin: 75px 0 50px 0;
}
.circleGallery .circleGalleryContainer {
  display: flex;
  width: 90vw;
  justify-content: space-around;
  max-width: 1250px;
}
.circleGallery .circleGalleryContainer img {
  border-radius: 50%;
  width: 200px;
}
.circleGallery p {
  text-align: center;
  opacity: 0.6;
  margin-top: 25px;
}
.circleGallery .textContainer {
  max-width: 800px;
  margin: 0 auto;
}

.productDetails {
  background-image: url(/assets/home-4.jpeg);
  background-position: 55% 5%;
  background-repeat: no-repeat;
  background-size: cover;
}
.productDetails .productDetailsContainer {
  padding: 25px 0 25px 0;
}
.productDetails .indProductContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}
.productDetails .indProductContainer h2 {
  text-align: center;
}
.productDetails .indProductContainer p {
  opacity: 0.5;
  text-align: center;
}
.productDetails .indProductContainer .iconContainer {
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 10px;
  height: 45px;
  width: 45px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamIntro h2 {
  font-weight: lighter;
  text-align: center;
  margin: 50px;
}

.teamGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamGalleryTextContainer {
  background-color: #F6F6F6;
  text-align: center;
  padding: 35px 15px 5px 15px;
}
.teamGalleryTextContainer h3 {
  opacity: 0.6;
  margin-bottom: 25px;
}
.teamGalleryTextContainer p {
  margin-bottom: 50px;
}

.teamGallery img,
.teamGallery a {
  margin: 15px;
}
.teamGallery a {
  height: 270px;
  width: 270px;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUs {
  background-image: url(/assets/home-10.jpeg);
  background-position: bottom;
  padding: 100px 15px 75px 15px;
  align-items: center;
}
.contactUs img {
  display: none;
}

.contactUs .wrapper {
  background-color: #C3DAB7;
  text-align: center;
  padding: 25px 25px 75px 25px;
  width: 85%;
}
.contactUs .wrapper h2 {
  margin-bottom: 30px;
  margin-top: 30px;
}
.contactUs .wrapper p {
  margin-bottom: 50px;
}
.contactUs .wrapper .viewPortfolio {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background-color: #F6F6F6;
  padding: 15px 30px 15px 30px;
  color: #333333;
  font-weight: 700;
}

footer {
  background-color: #333333;
  color: #F6F6F6;
}
footer h3 {
  font-weight: 300;
  opacity: 0.7;
  margin: 0;
  margin-top: 30px;
}
footer p,
footer a {
  opacity: 0.7;
  font-size: 0.8rem;
}
footer a {
  text-decoration: none;
  color: #F6F6F6;
}

.recentPosts li:before {
  content: "• ";
  font-size: 10pt;
}

.footerContact h3 {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 30px;
}
.footerContact p {
  margin-bottom: 3px;
  padding: 0;
}
.footerContact .socialLinks {
  display: flex;
}
.footerContact .socialLinks ul li {
  display: inline-block;
  list-style: none;
  margin: 15px 15px 0 0;
}

.recentPosts h3 {
  margin-bottom: 20px;
}
.recentPosts li {
  margin-bottom: 3px;
}

.twitterWidget h3 {
  margin-bottom: -5px;
}
.twitterWidget p {
  margin-bottom: 15px;
  border: none;
}
.twitterWidget form {
  display: flex;
  flex-direction: row;
}
.twitterWidget input {
  padding: 4px;
}
.twitterWidget button {
  background-color: #C3DAB7;
  padding: 5px;
}

.footerLogo {
  background-color: #333333;
  margin-top: 25px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(246, 246, 246, 0.2);
}
.footerLogo h3 {
  color: #FFFFFF;
  margin: 0 auto;
}

.blogPost {
  padding-bottom: 50px;
}
.blogPost h2 {
  font-weight: 700;
  padding-top: 25px;
}
.blogPost .breadcrumb {
  padding-top: 10px;
  padding-bottom: 25px;
}
.blogPost .breadcrumb li {
  display: inline;
  opacity: 1.2;
}
.blogPost .breadcrumb li + li:before {
  padding: 4px;
  content: "/ ";
}
.blogPost .breadcrumb li a {
  text-decoration: none;
}
.blogPost .breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.blogPost .breadcrumb li:last-child {
  font-weight: 700;
  color: black;
}
.blogPost .authorDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-start;
}
.blogPost .authorDetails h4,
.blogPost .authorDetails p {
  margin: 0;
}
.blogPost .authorDetails .authorDetailsLeft {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.blogPost .authorDetails .authorDetailsLeft img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 25px;
}
.blogPost .authorDetails .authorDetailsRight {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.blogPost .boldText {
  font-weight: 700;
}
.blogPost .blogSocialLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.blogPost .blogSocialLinks p {
  margin: 0;
}
.blogPost .blogSocialLinks ul {
  display: flex;
  flex-direction: row;
}
.blogPost .blogSocialLinks ul li {
  padding: 0 15px 3px 15px;
}

.relatedImgGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.relatedImgGallery .imgContainer {
  padding-bottom: 25px;
  width: 300px;
}
.relatedImgGallery .imgContainer img {
  width: 100%;
  height: auto;
}
.relatedImgGallery p {
  padding: 3px;
}

.userComments {
  padding-bottom: 50px;
}
.userComments h3 {
  font-size: 1.75rem;
}
.userComments img {
  padding-bottom: 30px;
}
.userComments p {
  font-size: 0.8rem;
}
.userComments a {
  font-style: italic;
  text-decoration: none;
}
.userComments .textContainer {
  position: relative;
  background-color: #F6F6F6;
  padding: 10px;
  margin-bottom: 25px;
}
.userComments .textContainer::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 20px solid #F6F6F6;
  left: 0px;
  top: -25px;
}

.commentForm h3 {
  font-size: 1.75rem;
}
.commentForm form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
}
.commentForm form input,
.commentForm form textarea {
  border: none;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.commentForm form input:hover,
.commentForm form textarea:hover {
  border: none;
  border-bottom: 1px solid black;
  color: black;
}
.commentForm form input:focus,
.commentForm form textarea:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  font-weight: bold;
}
.commentForm button {
  padding: 10px;
  margin: 10px;
  width: 300px;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}
.commentForm button:hover {
  text-decoration: underline;
  text-underline-offset: 15px;
}

@media (min-width: 750px) {
  .productDetails {
    background-position: 65% 5%;
  }

  .teamGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
  }

  footer .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
  }

  .blogHeader {
    background-size: contain;
    background-position: 50% 50%;
  }

  .relatedImgGallery {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .burgerMenu {
    display: none;
  }

  .leftNav,
.rightNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px 0 20px;
  }
  .leftNav li,
.rightNav li {
    margin: 10px 5px 0px 10px;
  }

  .logoContainer {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }

  .leftNav {
    order: -1;
  }
  .leftNav li {
    list-style: none;
  }

  .rightNav .fa-solid {
    font-size: 1.3rem;
  }
  .rightNav li {
    display: inline-block;
  }
  .rightNav .fa-bag-shopping {
    position: relative;
    text-align: center;
  }
  .rightNav p {
    font-size: 0.5rem;
    position: absolute;
    top: 6px;
    left: 7px;
    padding: 3px;
    background-color: #C3DAB7;
    border-radius: 50%;
    padding: 8px 6px;
    line-height: 0;
  }

  .brandingImg .circleText img {
    position: absolute;
    top: -20px;
    left: -75px;
    width: 200px;
    height: auto;
    z-index: 10;
  }

  .brandingTextContainer {
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
  }

  .productDetails {
    height: 75vh;
    display: flex;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
  }
  .productDetails .productDetailsContainer {
    padding: 0;
  }

  .productDetails .wrapper {
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
  }

  .productDetailsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin-top: auto;
    padding: -25px;
  }
  .productDetailsContainer .indProductContainer {
    display: flex;
    flex-direction: row;
  }
  .productDetailsContainer .indProductContainer .iconContainer {
    align-self: flex-start;
    margin-right: 15px;
    margin-top: 5px;
  }
  .productDetailsContainer .productTextContainer {
    max-width: 300px;
  }

  .teamGallery {
    margin: 0 auto;
    width: 1600px;
    display: grid;
    grid-template: "a a a a" 20% "b b b b" auto;
    grid-gap: 15px;
    margin-bottom: 50px;
  }
  .teamGallery .teamGalleryTextContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 100px 0 15px 25px;
    text-align: left;
    width: 570px;
    height: 270px;
  }
  .teamGallery p {
    margin: 0;
  }
  .teamGallery img {
    margin: 0;
  }
  .teamGallery a {
    margin: 0;
  }

  .contactUs {
    background-image: none;
    padding: 0;
  }
  .contactUs img {
    display: inline-block;
    width: auto;
    max-height: 600px;
  }
  .contactUs .contactTextContainer {
    width: 100vw;
  }
  .contactUs .contactTextContainer h2 {
    padding: 0;
  }
  .contactUs .contactTextContainer p {
    padding: 0 25px 0 25px;
  }
  .contactUs .contactImgContainer {
    display: flex;
    align-items: center;
    align-self: flex-end;
  }
  .contactUs .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: none;
    width: 100vw;
    max-width: 1440px;
    padding: 0;
    height: 600px;
  }

  .recentPosts h3 {
    text-align: center;
  }
  .recentPosts li {
    padding: 3px;
  }

  .twitterWidget h3 {
    text-align: right;
    padding-bottom: 15px;
  }
  .twitterWidget p {
    padding-bottom: 10px;
  }
  .twitterWidget form {
    justify-content: right;
  }

  .footerLogo {
    font-size: 0.6rem;
    letter-spacing: 0.3rem;
  }

  .blogHeader {
    background-size: cover;
    height: 75vh;
    max-width: 1400px;
    margin-bottom: 100px;
  }

  .blogPost h2 {
    font-size: 3rem;
    margin-bottom: 25px;
  }
  .blogPost .authorDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .blogPost .authorDetails .textContainer {
    padding-top: 10px;
  }
  .blogPost .blogMain {
    padding-top: 50px;
  }
  .blogPost .blogSocialLinks {
    padding-top: 50px;
  }

  .relatedPosts h3 {
    font-size: 2rem;
  }
  .relatedPosts .relatedImgGallery {
    padding-top: 25px;
  }

  .userComments h3 {
    font-size: 2rem;
  }
  .userComments .indComments {
    display: flex;
    flex-direction: row;
  }
  .userComments .indComments img {
    width: 90px;
    height: 120px;
    margin-right: 50px;
  }
  .userComments .indComments .textContainer {
    width: 1000px;
    max-width: 1200px;
    padding: 5px 0 30px 20px;
  }
  .userComments .indComments .textContainer::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid #F6F6F6;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -38px;
    top: 5px;
  }
}/*# sourceMappingURL=styles.css.map */